{% extends 'libcloud/base.html' %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="w-75">
                    <div class="card-box">
                        <div class="row justify-content-center">
                            <form class="text-center w-50" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% crispy form %}
                                <div class="row justify-content-center">
                                    <div class="w-50">
                                        <button type="submit" class="btn btn-block btn-primary">Add</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
