

{% extends 'libcloud/base.html' %}
{% block content %}
<div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="w-75">
                    <div class="card-box">
                        <div class="row">
                            <form class="justify-content-center" method="POST">
                                {% csrf_token %}
                                <div class="row mb-3 justify-content-center">
                                    <div class="text-center w-25">
                                        <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                            {{ form.as_p }}
                                            <input type="submit" value="Save">
                                        </form>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
