


{% extends 'libcloud/base.html' %}
{% block content %}
<div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="w-75">
                    <div class="card-box">
                        <div class="row">

<form class="text-center" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <div class="row justify-content-center">
                                    <div class="w-25">
                                        <button type="submit" class="btn btn-block btn-primary">Create</button>
                                    </div>
                                </div>
</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
