{% extends 'libcloud/base.html' %}
{% load static %}
{% load crispy_forms_field %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div style="width: 75vw;" class="card-box">
                        <div class="row">
                            <div class="col-lg-6 col-xl-6">
                                <h4 class="header-title m-b-30">File:</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-xl-2">
                                <div class="file-man-box">
                                    <div class="file-img-box">
                                        {% static "" as baseUrl %}
                                        <img src="{{ baseUrl }}images/file.png" alt="icon"></div>
                                    <a href={{ content.file.url }}><i class="fa fa-download"></i></a>
                                    <div class="file-man-title">
                                        <h5 class="mb-0 text-overflow">{{ content.filename }}</h5>
                                        <h6 class="mb-0 text-overflow">Type: {{ content.type.name }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-xl-6">
                                <h4 class="header-title m-b-30">Features:</h4>
                            </div>
                        </div>
                        <div class="row col-lg-5 col-xl-5 mb-2">
                            <table style="text-align:center;">
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Value
                                    </th>
                                </tr>
                                {% for feature in content.contentfeature_set.all %}
                                    <tr>
                                        <td style="text-overflow: ellipsis;">
                                            {{ feature.feature_type.name }}
                                        </td>
                                        <td style="text-overflow: ellipsis;">
                                            {{ feature.feature_type.get_type_display }}
                                        </td>
                                        <td style="text-overflow: ellipsis;">
                                            {{ feature.value }}
                                        </td>
                                        <td style="text-overflow: ellipsis; text-align:right;">
                                            {% if feature.feature_type.required %}
                                                required
                                            {% else %}
                                                optional
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-xl-6">
                                <h4 class="header-title m-b-30">Attachments:</h4>
                            </div>
                        </div>
                        <div class="row ml-2">
                            {% for attachment in content.attachment_set.all %}
                                <div class="file-man-box">
                                    <div class="file-img-box">
                                        {% static "" as baseUrl %}
                                        <img src="{{ baseUrl }}images/attach-file.png" alt="icon"></div>
                                    <a href={{ attachment.file.url }}><i class="fa fa-download"></i></a>
                                    <div class="file-man-title">
                                        <h5 class="mb-0 text-overflow">{{ attachment.filename }}</h5>
                                        <h6 class="mb-0 text-overflow">Type: {{ attachment.type.name }}</h6>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endif %}
{% endblock %}