


{% extends 'libcloud/base.html' %}
{% load static %}
{% block content %}
    <div style="height:10vh"></div>
    <div class="card-box">
        <div style="text-align: center;" class="row">
            {% for attachment_type in contenttype.attachment_types.all %}

                <div class="file-man-box">
                    <a href="{{library.get_absolute_url}}">
                    <div class="file-img-box">
                        {% static "" as baseUrl %}
                        <img src="{{ baseUrl }}images/attachment.png" alt="icon">
                    </div>
                    </a>
                    <div class="file-man-title">
                        <h5 class="mb-0 text-overflow">{{ attachment_type.name  }}</h5>
                    </div>
                </div>

                {% empty %}
                <li>No attachment yet.</li>
            {% endfor %}
        </div>
    </div>
{% endblock %}
