{% extends 'libcloud/base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="content">
    <div class="row">
        <div class="col-12">
            <div style="width: 75vw;" class="card-box">
                <div class="row">
                    <div class="col-lg-6 col-xl-6">
                        <h4 class="header-title m-b-30">File:</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-xl-2">
                        <div class="file-man-box">
                            <div class="file-img-box">
                                {% static "" as baseUrl %}
                                <img src="{{ baseUrl }}images/file.png" alt="icon"></div><a href={{ content.file.url }}><i class="fa fa-download"></i></a>
                            <div class="file-man-title">
                                <h5 class="mb-0 text-overflow">{{ content.filename }}</h5>
                                <h6 class="mb-0 text-overflow">Type: {{ content.type.name }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-xl-6">
                        <h4 class="header-title m-b-30">attachments:</h4>
                    </div>
                </div>

                    <div class="row">
                        {% for attachment in file.attachment_set.all %}
                            <div class="file-man-box">
                                <div class="file-img-box">
                                    {% static "" as baseUrl %}
                                    <img src="{{ baseUrl }}images/attach-file.png" alt="icon"></div>
                                <a href={{ attachment.file.url }} ><i class="fa fa-download"></i></a>
                                <div class="file-man-title">
                                    <h5 class="mb-0 text-overflow">{{ attachment.filename }}</h5>
                                    <h6 class="mb-0 text-overflow">Type: {{ attachment.type.name }}</h6>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
</div>


{% endif %}
{% endblock %}