{% extends 'libcloud/base.html' %}
{% load static %}
{% block content %}
    <div style="height:10vh"></div>
    <div class="card-box">
        <div class="row">
            {% for content in object_list %}
                <div class="file-man-box">
                    <a href="/content/{{ content.id }}">
                    <div class="file-img-box">
                        {% static "" as baseUrl %}
                        <img src="{{ baseUrl }}images/file.png" alt="icon"></div><a href={{ content.file.url }}><i class="fa fa-download"></i></a>
                    <div class="file-man-title">
                        <h5 class="mb-0 text-overflow">{{ content.filename }}</h5>
                        <h6 class="mb-0 text-overflow"> Type: {{ content.type.name }}</h6>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

