{% extends 'libcloud/base.html' %}
{% load static %}
{% block content %}
    {% if not user.is_authenticated %}
    <div class="bg-image d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="mx-auto pagination-centered text-center"><h1 class="text-white">LibCloud</h1>
            <h5 >Cloud Storage for Work and Home<br/></h5>
            <input class="btn btn-primary" type="button" onclick="location.href='/login';" value="create an account" />
        </div>
    </div>
    {% endif %}
    {% if user.is_authenticated %}
        <div style="height:10vh"></div>
        {% static "" as baseUrl %}
                <div class="card-box">
                    <div class="row">
                        <h4 class="header-title m-b-30">Recent Files:</h4>
                    </div>
                    <div class="row">
                        {% for file in files %}
                            <div class="file-man-box">
                                <a href="file_page/user_{{ file.creator }}/{{ file.filename }}">
                                <div class="file-img-box">
                                    {% static "" as baseUrl %}
                                    <img src="{{ baseUrl }}images/file.png" alt="icon"></div><a href={{ file.file.url }}><i class="fa fa-download"></i></a>
                                <div class="file-man-title">
                                    <h5 class="mb-0 text-overflow">{{ file.filename }}</h5>
                                    <h6 class="mb-0 text-overflow"> {{ file.get_type_display }}</h6>
                                </div>
                                </a>
                            </div>

                        {% endfor %}
                    </div>
                </div>
                <div class="card-box">
                    <div class="row">
                        <h4 class="header-title m-b-30">Top Libraries:</h4>
                    </div>
                    <div class="row">
                        {% for lib in libraries %}
                            <div class="file-man-box">
                                <a href="file_page/{{ lib.name }}">
                                <div class="file-img-box">
                                    {% static "" as baseUrl %}
                                    <img src="{{ baseUrl }}images/lib.png" alt="icon"></div>
                                    <a href={{ file.file.url }}></a>
                                <div class="file-man-title">
                                    <h5 class="mb-0 text-overflow">{{ lib.name }}</h5>
                                    <h6 class="mb-0 text-overflow"> {{ lib.content_type }}</h6>
                                </div>

                                </a>
                            </div>

                        {% endfor %}
                    </div>
                </div>

{% endif %}
{% endblock %}
