{% extends 'libcloud/base.html' %}

{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load crispy_forms_utils %}

{% block content %}

    {% for form1 in formset %}
        <div class="form-row justify-content-center d-none">
            {% for field in form1 %}
                {{ field|as_crispy_field }}
                <div class="form-group mr-2"></div>
            {% endfor %}
            <div class="form-group">
                <button class="btn btn-danger remove-form-row">-</button>
            </div>
        </div>
    {% endfor %}

    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="w-75">
                    <div class="card-box">
                        <div class="row">
                            <form class="justify-content-center" method="POST">
                                {% csrf_token %}
                                <div class="row mb-3 justify-content-center">
                                    <div class="text-center w-25">
                                        {{ form.name|as_crispy_field }}
                                    </div>
                                </div>
                                <div style="background: #DCDCDC" class="py-3">
                                    <h4 class="header-title text-center pb-2">features</h4>
                                    {{ formset.management_form }}
                                    <div class="form-row justify-content-center plus-row">
                                        <div class="form-group">
                                            <button class="btn btn-success add-form-row">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row text-center mt-3">
                                    {{ form.attachment_types|as_crispy_field }}
                                </div>
                                <div class="row justify-content-center">
                                    <div class="w-25">
                                        <button type="submit" class="btn btn-block btn-primary">Create</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- container -->
    </div>

    <script type='text/javascript'>
        function updateElementIndex(el, prefix, ndx) {
            var id_regex = new RegExp('(' + prefix + '-\\d+)');
            var replacement = prefix + '-' + ndx;
            if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
            if (el.id) el.id = el.id.replace(id_regex, replacement);
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        }

        function cloneMore(selector, prefix) {
            var newElement = $(".d-none.form-row").clone(true);
            newElement.removeClass("d-none");
            var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
            if (total > 0) {
                newElement.find(':input:not(.btn):not([type=submit]):not([type=reset])').each(function () {
                    {#console.log($(this));#}
                    var name = $(this).attr('name').replace('-' + (total - 1) + '-', '-' + total + '-');
                    var id = 'id_' + name;
                    $(this).attr({'name': name, 'id': id}).val('');
                });
                newElement.find('label').each(function () {
                    var forValue = $(this).attr('for');
                    if (forValue) {
                        forValue = forValue.replace('-' + (total - 1) + '-', '-' + total + '-');
                        $(this).attr({'for': forValue});
                    }
                });
                {#$('#form_set').append($('#empty_form').html().replace(/__prefix__/g, total));#}
            }
            total++;
            $('#id_' + prefix + '-TOTAL_FORMS').val(total);
            var oldElement = $(selector);
            $(selector).before(newElement);

            {#var conditionRow = $('.form-row:not(:last):not(.d-none)');#}
            {#var element = conditionRow.find('.btn.add-form-row');#}
            {#element.removeClass('btn-success').addClass('btn-danger')#}
            {#    .removeClass('add-form-row').addClass('remove-form-row');#}
            {#element.text('-');#}
            return false;
        }

        function deleteForm(prefix, btn) {
            var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
            btn.closest('.form-row').remove();
            $('#id_' + prefix + '-TOTAL_FORMS').val(total-1);
            if (total > 0) {
                var forms = $('.form-row:not(.plus-row):not(.d-none)');
                for (var i = 0, formCount = forms.length; i < formCount; i++) {
                    $(forms.get(i)).find(':input').each(function () {
                        updateElementIndex(this, prefix, i);
                    });
                }
            }
            return false;
        }

        $(document).on('click', '.add-form-row', function (e) {
            e.preventDefault();
            cloneMore('.form-row:not(.d-none):last', 'feature');
            return false;
        });
        $(document).on('click', '.remove-form-row', function (e) {
            e.preventDefault();
            deleteForm('feature', $(this));
            return false;
        });

        $(document).ready(function () {
            $('#id_' + "feature" + '-TOTAL_FORMS').val(0);
        })
    </script>

{% endblock %}